

.font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.header{
  
}
.navbar{
  display: flex;
  align-items: center;
  justify-content:space-between;
  margin: 30px 150px 0 150px;
}

nav a{
  text-decoration: none;
  
}
nav li{
  list-style-type: none;
}
.navber{
  display: flex;
  margin-right: 48px;
  align-items: center;
  gap: 48px;
}
.cart{
  display: flex;
  
}
#home{
  font-weight: 500;
  color: #252432;
}
#shop{
  color: #8987A1;
}
#about{
  color: #8987A1;
}
#cd{
  color: #000000;
}
.banner-title{
  font-weight:700;
  font-size: 60px;
  color:#E95A08 ;
  max-width:570px;
  margin-bottom: 0;
  padding: 0;

 
  
}
#always{
  color: #000000;
}
.banner-sub-title{
  width: 570px;
  font-size: 22px;
 margin-top: 0;
  
}
.light-gray{
  color: rgba(0, 0, 0, 0.5);
}
.banner{
  display: flex;
  justify-content: center;
  align-items:flex-end;
  padding: 0;
  margin: 190px 150px 0px 150px;
  max-width: 1140px;
  
}
.banner-img{
  max-width: 570px;
  
}
.banner-title h3, .banner-title p{
  margin: 0;
}
.banner-title, .banner-img{
  gap: 0;
}




.section-title{
  font-size: 50px;
  font-weight: 700;
  color: #000000;
  width: 1140px;
  height: 65px;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;

}
#our{
  color: #E95A08;
}
.section-des{
  width: 700px;
  height: 54px;
  text-align: center;
 margin-top: 0;
}
.title{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}
.card-container{
  width: 270px;
  height: 484px;
  border: 1px solid red;
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.card-img{
  width: 270px;
  height: 322px;
}
.card-name{
  font-size: 22px;
  font-weight: 500;
  color: #111111;
  margin-top: 30px;
  margin-bottom: 0px;
}
.card-price{
  font-size: 22px;
  font-weight: 700;
  color: #111111;
  margin-top: 15px;
  
}
.btn-primary{
  background-color: #E95A08;
  color: #FFFFFF;
  border: none;
  width: 270px;
  height: 50px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 20px;
}
.main-card{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.plants{
  max-width: 1140px;
  height: 1290px;
  margin: 48px 150px 0 100px;
}

.shop-img img{
  width: 100%;
  display: block;
  
}
.shop{
  display: flex;
  
  max-width: 1140px;
  
  margin: 100px 100px 0 100px;
  justify-content: space-between;
  
  
}
.shop-des{
  /* text-align:justify; */
  max-width: 540px;
  height: 500px;
  padding: 10px 2px 10px 10px;
  margin-bottom: 0px;
  
  
}
.shop-title{
  font-size: 50px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 2px;
  margin-top: 15px;
}
.shop-point{
  font-size: 22px;
}
.shop-img{
  position: relative;
  display: inline-block;
}
.badge{
  position: absolute;
  top: -100px;
  left: 240px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: contain;

 filter: drop-shadow(0 3px 12px rgb(51, 50, 50));
 
  
 
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.spin-infinite{
  animation: spin 2s linear infinite;
}
.card-1{
  background-image: url(../assets/deal-bloom.png);
  background-repeat: no-repeat;
  width: 365px;
  height: 200px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5) ;
  background-blend-mode: darken;
  margin-bottom: 10px;
  
}
.card-2{
  background-image: url(../assets/deal-ana.png);
  background-repeat: no-repeat;
  width: 365px;
  height: 200px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5) ;
  background-blend-mode: darken;
}
.card-3{
  background-image: url(../assets/deal-zabo.png);
  background-repeat: no-repeat;
  width: 750px;
  height: 400px;
  border: 2px solid black;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5) ;
  background-blend-mode: darken;
}
.offer{
  font-size: 20px;
  font-weight: 700;
  color: #FFFFFF;
  /* -webkit-text-stroke: 1px black; */
  text-shadow: 0 4px 4px #000000;
  text-align: center;
  padding-top: 40px;
}
.now{
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
   /* -webkit-text-stroke: 1px black;
   text-shadow: 0 4px 4px #000000; */
   text-align: center;
   text-decoration: none;

}
.father-card{
  display: flex;
  max-width: 1140px;
  justify-content: center;
  align-items: center;
  margin: 100px 95px 0 95px;
  gap: 20px;
}
.section-description{
  width: 700px;
  height: 54px;
  text-align: center;
 margin-top: 0;
}
.section-title-fcard{
  font-size: 50px;
  font-weight: 700;
  color: #000000;
  width: 1140px;
  height: 65px;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
.title-fcard{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
}
#latest{
  color: #E95A08;
}
#of{
  padding-top: 150px;
  color: rgb(255, 255, 255);
  
}
.color-title{
  font-size: 50px;
  font-weight: 700;
  color: #FFFFFF;

    text-shadow: 0 4px 4px #000000;
    margin-bottom: 10px;
}
.emaill{
  width: 500px;
  height: 45px;
  margin-top: 19px;
  
}
#sub{
  margin-left: 0px;
  gap: 0;
  border-left: none;
}
.clr-flr{
  text-align: center;
  margin-top: 80px;
  padding-top: 130px;
}
.colorful-bg{
  background-image: url(../assets/news-letter-bg.png);
  width: 100%;
  height: 533px;
}
.final-part{
 display: flex;
 justify-content: space-around;
 
 padding-top: 100px;
 max-width: 1440px;
 height: 300px;
}


.anc-1, .anc-2 li{
  list-style: none;
  
}
.anc-1 a{
  text-decoration: none;
}
.anc-2 a{
  text-decoration: none;
}
.cmn{
  color: rgba(107, 114, 128, 1);
  font-weight: 500;
  

}
a{
  display: block;
  margin-bottom: 30px;
}

.ic{
  margin-right: 20px;
}
.logo{
  width: 360px;
  height: 180px;
}
.gapp{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}